@import 'bootstrap';

main {
    min-height: 90vh;
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
    font-weight: 700
}

.invalid-message {
    color: rgb(250, 67, 67);
}

.text-secondary {
    color: rgb(149, 149, 149);
}
